@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --card-bg: rgba(0, 0, 0, 0.616);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container .section{
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    scroll-snap-align: start;
}

.container .section .content{
    position: absolute;
    left: 1rem;
    bottom: 2em;
    right: 50px;
    max-width: 700px;
}

.container .section .content h2{
    background: var(--card-bg);
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.container .section .content p{
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--card-bg);
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.container .section:nth-child(1){
    background-image:url("./img/lentes.jpeg"); 
    background-position:center; 
    background-attachment: fixed; 
    -o-background-size:cover; 
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    background-size:cover; 
    background-repeat:no-repeat;
}

.container .section:nth-child(2){
    background-image:url("./img/novia.jpeg"); 
    background-position:center; 
    background-attachment: fixed; 
    -o-background-size:cover; 
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    background-size:cover; 
    background-repeat:no-repeat;
}

.container .section:nth-child(3){
    background: rgb(100, 162, 255) url(./img/latita.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(4){
    background: rgb(255, 230, 0) url(./img/ayo2.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(5){
    background: rgb(255, 0, 221) url(./img/kiss1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

