@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-bg-color: #333333;
    --strong-text: #E21B5A;
    --secondary-text: #9E0C39;
    --light-text: #FBFFE3;
    --green-text: #83A300;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--main-bg-color);
}
.wrapper{
  display: flex;
  margin-bottom: 7rem;
}
.wrapper .static-txt{
  color: var(--light-text);
  font-size: 3.75rem;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 0.93rem;
  height: 5.62rem;
  line-height: 5.62rem;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: var(--strong-text);
  font-size: 3.75rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 24s steps(8) infinite;
}
@keyframes slide {
  100%{
    top: -720px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 0.3rem 0;
  line-height: 5.62rem;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--main-bg-color);
  border-left: 0.12rem solid var(--secondary-text);
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.main-title{
    font-size: 4rem;
    color: var(--light-text);
    text-align: center;
}

.mirror{
    height: 45vh;
    width: auto;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: 3rem 0;
}

a{
    text-decoration: none;
}
.button{
    font-size: 3rem;
    padding: 0.8rem 1.5rem;
    color: white;
    background-color: var(--secondary-text);
    border: none;
    border-radius: 0.62rem;
    
}

.button:hover{
    cursor: pointer;
}
#couple{
    width: auto;
    height: 60vh;
}