@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --card-bg: rgba(0, 0, 0, 0.616);
    --main-bg-color: #333333;
    --strong-text: #E21B5A;
    --secondary-text: #9E0C39;
    --light-text: #FBFFE3;
    --green-text: #83A300;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container .section{
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    scroll-snap-align: start;
}

.container .section .content{
    position: absolute;
    left: 1rem;
    bottom: 2.5em;
    right: 50px;
    max-width: 700px;
}

.container .section .content h2{
    background: var(--card-bg);
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.container .section .content p{
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--card-bg);
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.container .section:nth-child(1){
    background-color: violet;
    background-image:url("./img/pawi1.jpeg"); 
    background-position:center; 
    background-attachment: fixed; 
    -o-background-size:cover; 
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    background-size:cover; 
    background-repeat:no-repeat;
}

.container .section:nth-child(2){
    background-color: greenyellow;
    background-image:url("./img/comiendo.jpeg"); 
    background-position:center; 
    background-attachment: fixed; 
    -o-background-size:cover; 
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    background-size:cover; 
    background-repeat:no-repeat;
}

.container .section:nth-child(3){
    background: rgb(255, 0, 149) url(./img/tacos.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(4){
    background: rgb(255, 230, 0) url(./img/ayo2.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(5){
    background: rgb(255, 0, 221) url(./img/latita.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(6){
    background: rgb(187, 255, 0) url(./img/ayo.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(7){
    background: rgb(187, 255, 0) url(./img/kiss2.jpeg);
    background-size: cover;
    background-attachment: fixed;
}




a{
    text-decoration: none;
}
.button{
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--secondary-text);
    border: none;
    border-radius: 0.62rem;
    margin: 0 1rem;
    
}

#si{
    padding: 0.5rem 2rem;
}

#no{
    background-color: var(--main-bg-color);
    color: var(--light-text);
    font-size: 0.7rem;
}

.response-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.button:hover{
    cursor: pointer;
}

.flex-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.btns-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#final-title{
    font-size: 3rem;
}

#question{
    font-size: 3.2rem;
    text-align: center;
}